<ion-header>
  <ion-toolbar>
    <ion-title>Apple</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion.padding">
    Hola {{this.name}}, esto es {{this.boton}}
  </div>

    <h3 text-center>Selecciona tus Dispositivos Apple Favoritos</h3>

  <ion-list>
      <ion-item>
          <ion-label>IPhone</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>Ipad</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>MacBook</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>Apple TV</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>Apple Watch</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-label>IPod</ion-label>
          <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>
  </ion-list>

</ion-content>
