<ion-header>
  <ion-toolbar>
    <ion-title>PlayStation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion.padding">
    Hola {{this.name}}, esto es {{this.boton}}
  </div>

    <ion-grid fixed>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-img src="/assets/maxresdefault.jpg"></ion-img>
                <ion-card-content>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
