<ion-header>
  <ion-toolbar>
    <ion-title>Android</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion.padding">
    Hola {{this.name}}, esto es {{this.boton}}
  </div>

    <h3 text-center>Actualizaciones Android</h3>

    <ion-list>
        <ion-item>
            <ion-label>
                <h2>Apple Pie</h2>
                <p>1.0</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Banana Bread</h2>
                <p>1.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Cupcake</h2>
                <p>1.5</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Donut</h2>
                <p>1.6</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Eclair</h2>
                <p>2.0 – 2.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Froyo</h2>
                <p>2.2 – 2.2.3</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Gingerbread</h2>
                <p>2.3 – 2.3.7</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Honeycomb</h2>
                <p>3.0 – 3.2.6</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Ice Cream Sandwich</h2>
                <p>4.0 – 4.0.5</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Jelly Bean</h2>
                <p>4.1 – 4.3.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>KitKat</h2>
                <p>4.4 – 4.4.4</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Lollipop</h2>
                <p>5.0 – 5.1.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Marshmallow</h2>
                <p>6.0 – 6.0.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Nougat</h2>
                <p>7.0 – 7.1.2</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Oreo</h2>
                <p>8.0 – 8.1</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Pie</h2>
                <p>9.0</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>Android 10</h2>
                <p>10.0</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
